# ignore all subdirs except audio and stub
*/*
!/audio/*
!/stub/*
# MSM8937
/audio-legacy
/camera-legacy*
# Motorola MSM8937
/motorola-msm8937
# Xiaomi MSM8937
/xiaomi-msm8937
/xiaomi-sdm439
# Mods
/KernelSU
